* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.my-btn, .my-empty-btn {
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.my-btn {
    background-color: #038384;
}

.my-empty-btn {
    border: 1px solid #038384;
}

.bg-green {
    color: #038384;
    background-color: rgba(3, 131, 132, 0.3);
    padding: 5px;
    border-radius: 5px;
}